* { box-sizing: border-box; }
body {
  font-family: 'Spartan', sans-serif;
  background-color: #CDEAF8;
  font-size: 16px;
  margin: 50px  50px 100px 50px;
  display: flex;
  flex-direction: column;
}

p {
  line-height: 1.4em;
  letter-spacing: normal;
}

.main-banner > h1 {
  width: fit-content;
  margin: auto;
  font-size: 40px;
  font-weight: 500;
  color: #444;
}

.image {
  display: flex;
  justify-content: center;
}

img {
  width: 900px;
  height: 400px;
}

#searchInput {
  margin: 0px 20px;
  display: flex;
  justify-content: center;
}

#searchInput > div {
  margin: auto;
}

.autocomplete > input {
  background-color: #ff9da7;
  color: #444;
  width: 100%;
  opacity: 0.7;
  border-radius: 5px;
}

#about {
  margin: 10px 100px 50px;
  text-align: center;
  font-size: 18px;
}

#about > p {
  margin: 0px;
  color: #444;
}

.hidden {
  display: none !important;
}

.data {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.data > .text {
  width: fit-content;
  margin: 0px auto;
  align-self: flex-start;
}

.data > div {
  align-self: center;
}

.labelText {
  font-size: 20px;
  color: #444;
  margin-bottom: 5px;
}

.text {
  font-size: 20px;
  text-transform: uppercase;
  color: #444;
  margin-bottom: 5px;
}

.visuals {
  display: flex;
}

#table {
  width: 545px;
  height: 400px;
  margin-top: auto;
  margin-bottom: auto;
}

table {
  width: 545px;
  max-height: 400px;
  margin-top: -20px
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  padding: 5px;
}

td {
  min-height: 30px;
  height: 50px;
  padding: 0px 5px;
}






















#no-cancel {
    margin: 20px 0px;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
  font-family: 'Spartan', sans-serif;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}

.autocomplete-items {
  position: absolute;
  /* border: 1px solid #d4d4d4; */
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  height: 200px;
  overflow: auto;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  color: #444;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: #66A7C5 !important;
  color: #ffffff;
}

/* AXES */
/* ticks */
.axis line{
  stroke: #706f6f;
  stroke-width: 0.5;
  shape-rendering: crispEdges;
}
  
.axis path {
  stroke: #706f6f;
  stroke-width: 0.7;
  shape-rendering: crispEdges;
}
  
.axis text {
  fill: #2b2929;
  font-size: 120%;
}
  
.serie_label {
  fill: #2b2929;
  font-size: 80%;
}

path.line {
  fill: none;
  /*stroke: steelblue;*/
  opacity: 0.3;
  stroke-width: 3;
}

.description {
  fill: darkgray;
  text-align: center;
}

/*# sourceMappingURL=https://uw-cse442-wi20.github.io/FP-airline-delay-and-cancellation/style.2a393ece.css.map */