* { box-sizing: border-box; }
body {
  background-color: #CDEAF8;
  font: 16px Arial;
  margin: 30px 50px;
  display: flex;
  flex-direction: column;
  font-family: formula-regualar;
}

.main-banner > h1 {
  width: fit-content;
  margin: auto;
  font-size: 40px;
}

.image {
  display: flex;
  justify-content: center;
}

img {
  width: 900px;
  height: 400px;
}

#searchInput {
  margin: 0px 20px;
  display: flex;
  justify-content: center;
}

#searchInput > div {
  margin: auto;
}

.autocomplete > input {
  border: 1px solid #000000;
  background-color: #EEC9BC;
  width: 100%;
}

#about {
  margin: 30px 100px 0px;
  text-align: center;
  font-size: 18px;
}

#about > p {
  margin: 0px;
}

.hidden {
  display: none !important;
}

.data {
  display: flex;
  flex-direction: column;
  height: 500px;
  margin-top: 30px;
}

.data > .text {
  width: fit-content;
  margin: 0px auto;
  align-self: flex-start;
}

.text {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}























#no-cancel {
    margin: 20px 0px;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  height: 200px;
  overflow: auto;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

/* AXES */
/* ticks */
.axis line{
  stroke: #706f6f;
  stroke-width: 0.5;
  shape-rendering: crispEdges;
}
  
/* axis contour */
.axis path {
  stroke: #706f6f;
  stroke-width: 0.7;
  shape-rendering: crispEdges;
}
  
/* axis text */
.axis text {
  fill: #2b2929;
  font-family: Georgia;
  font-size: 120%;
}
  
.serie_label {
  fill: #2b2929;
  font-family: Georgia;
  font-size: 80%;
}
